node_modules/
.env
data/
public/assets/pictureday/full/*
!public/assets/pictureday/full/.gitkeep
public/assets/pictureday/thumb/*
!public/assets/pictureday/thumb/.gitkeep
public/assets/pictureday/brand/*
!public/assets/pictureday/brand/.gitkeep
.DS_Store
npm-debug.log*
